# Virtual Environment
venv/
env/
.venv/

# API Key
.env

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Temporary
*.log
temp/
tmp/

# Cache
.cache/

# Checkpoint
data/processed/checkpoint_sentiment.csv

# System
.DS_Store